<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">

    <div class="col-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showAdminOptions">
        <a class="navbar-brand" href="#">Admin Nav</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" (click)="openArtikal()">
                <i-bs  name="plus-square" class="text-secondary" width="2rem" height="2rem">
                </i-bs> <span class="sr-only">(current)</span>
              </a>
            </li>


          </ul>
        </div>
      </nav>
      <table class="table table-striped table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv Artikla</th>
            <th scope="col">Sifra Artikla</th>
            <th scope="col">Jedinica mere</th>
            <th *ngIf="showAdminOptions" scope="col">Ukloni Artikal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artikal of artikli  | slice: (page-1) * pageSize : page * pageSize ">
            <th scope="row">1</th>
            <td  class="td-click" (click)="setArtikal(artikal)">{{artikal.nazivArtikla}}</td>
            <td>{{artikal.sifraArtikla}}</td>
            <td>{{artikal.jedinicaMere.nazivJediniceMere}}</td>
            <td *ngIf="showAdminOptions" style="text-align: center;">
              <i-bs (click)="deleteArtikal(artikal)" name="trash" class="text-danger" width="1rem" height="1rem">
              </i-bs>
            </td>
          </tr>


        </tbody>
      </table>
      <ngb-pagination
      class="d-flex justify-content-center"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="artikli?.length"></ngb-pagination>


      <hr>
      <p>{{this.artikal?.nazivArtikla}}</p>
      <button class="btn btn-sm" (click)="enableEdit()">
        <i-bs
        name="pencil"
        class="text-secondary"
        width="1.5rem"
        height="1.5rem">
      </i-bs>
      </button>


      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <form #heroForm="ngForm">
              <fieldset [disabled]="this.isDisabled">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="nazivArtikla">Naziv artikla</label>
                      <input type="text" class="form-control" id="nazivArtikla" required [(ngModel)]="artikal.nazivArtikla"
                        name="nazivArtikla">
                    </div>

                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="jedinicaMere">Jedinica mere</label>
                      <select class="form-control" id="jedinicaMere" required [(ngModel)]="artikal.jedinicaMere"  name="jedinicaMere" >
                        <option [ngValue]="artikal.jedinicaMere">{{artikal.jedinicaMere?.nazivJediniceMere}}</option>
                        <option *ngFor="let pow of jediniceMere" [ngValue]="pow">{{pow.nazivJediniceMere}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="kategorijaArtikala">Jedinica mere</label>
                      <select class="form-control" id="kategorijaArtikala" required [(ngModel)]="artikal.kategorijaArtikala"  name="kategorijaArtikala" >
                        <option [ngValue]="artikal.kategorijaArtikala">{{artikal.kategorijaArtikala?.nazivKategorije}}</option>
                        <option *ngFor="let kategorijaArtikala of kategorijeArtikala" [ngValue]="kategorijaArtikala">{{kategorijaArtikala.nazivKategorije}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="sifraArtikla">Sifra artikla</label>
                      <input type="text" class="form-control" id="sifraArtikla" [(ngModel)]="artikal.sifraArtikla" name="sifraArtikla">
                    </div>
                  </div>
                </div>


                <button type="submit" class="btn btn-success" (click)="onSubmitEdit()">Submit</button>
              </fieldset>
            </form>

          </div>
          <div class="col-sm">
              {{heroForm.value | json}}



          </div>
        </div>
      </div>

    </div>

  </div>
</div>
