<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">

    <div class="col-sm">
      <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
          <a ngbNavLink>Prometni dokumenti</a>
          <ng-template ngbNavContent>
            <hr>


            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"><img src="assets/images/biglogo.png" alt="logo" class="logo"
                  width="30px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link">
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" (click)="openPrijemnicaModal()">
                      <i-bs name="file-plus-fill" class="text-secondary" width="25px" height="25px">
                      </i-bs> Dodaj prijemnicu
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" (click)="openOtpremnicaModal()">
                      <i-bs name="file-plus-fill" class="text-secondary" width="25px" height="25px">
                      </i-bs> Dodaj otpremnicu
                    </a>
                  </li> -->

                </ul>

              </div>
            </nav>


            <table class="table table-striped table-hover table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Broj prometnog dokumenta</th>
                  <th scope="col">Redni broj dokumenta</th>

                  <th scope="col">Poslovna godina</th>
                  <th scope="col">Status</th>
                  <th scope="col">Tip prometnog dokumenta</th>
                  <th scope="col">Datum knjizenja</th>
                  <th scope="col">Datum formiranja</th>
                  <th scope="col">Proknjizi</th>
                  <th scope="col">Otkazi</th>
                  <th scope="col">Stampaj</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of prometniDokumenti| slice: (pageD-1) * pageSizeD : pageD * pageSizeD ">
                  <th (click)="open(m)" scope="row">{{m.idPrometnogDokumenta}}</th>
                  <td>{{m.brojPrometnogDokumenta}}</td>
                  <td>{{m.redniBrojDokumenta}}</td>

                  <td>{{m.poslovnaGodina?.idGodine | number}}</td>
                  <td>{{m.status.toLowerCase()}}</td>
                  <td *ngIf="m.tipPrometnogDokumenta === 'PRIJEMNICA'" (click)="showDetails(m)">Prijemnica</td>
                  <td *ngIf="m.tipPrometnogDokumenta === 'OTPREMNICA'" (click)="showDetails(m)">Otpremnica</td>
                  <td>{{m.datumKnjizenja}}</td>
                  <td>{{m.datumFormiranja}}</td>
                  <td style="text-align: center;">

                    <i-bs name="card-checklist" class="text-success" width="1.2rem" height="1.2rem"
                      *ngIf="m.status === 'U_FAZI_KNJIZENJA'">
                    </i-bs>

                    <i-bs  *ngIf="m.status === 'PROKNJIZENO'" name="check2-all" class="text-success" width="1.2rem" height="1.2rem">
                    </i-bs>

                  </td>
                  <td style="text-align: center;">
                    <i-bs *ngIf="m.status === 'U_FAZI_KNJIZENJA'" name="dash-circle-fill" (click)="otkaziDokument(m.idPrometnogDokumenta)" class="text-danger" width="1.2rem" height="1.2rem">
                    </i-bs>
                    <i-bs *ngIf="m.status === 'PROKNJIZENO'" name="dash-circle"  class="text-danger" width="1.2rem" height="1.2rem">
                      proknjizeno
                    </i-bs>
                  </td>
                  <td style="text-align: center;">
                    <i-bs (click)="printReport(m.idPrometnogDokumenta)" name="printer-fill" class="text-warning" width="1.2rem"
                      height="1.2rem">
                    </i-bs>
                  </td>
                </tr>



              </tbody>
            </table>

            <ngb-pagination class="d-flex justify-content-center" [(page)]="pageD" [pageSize]="pageSizeD"
              [collectionSize]="prometniDokumenti?.length"></ngb-pagination>

            <hr>

            <p>{{this.detaljiDokumenta?.poslovniPartner.nazivPartnera}}</p>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink>Magacinske kartice</a>
          <ng-template ngbNavContent>
            <hr>


            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"><img src="assets/images/biglogo.png" alt="logo" class="logo"
                  width="30px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">
                      <i-bs name="file-plus-fill" class="text-secondary" width="25px" height="25px">
                      </i-bs> Dodaj <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="printLagerList()">
                      <i-bs name="printer-fill" class="text-secondary" width="25px" height="25px">
                      </i-bs> Izvestaj <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">
                      <label>Prikazi samo zakljucene  </label>
                    </a>

                  </li>
                  <li class="nav-item">
                    <a  class="nav-link">
                      <input  type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>

                    </a>

                  </li>
                  <li class="nav-item">
                    <a class="nav-link">
                      <label>Prikazi samo aktivne  </label>
                    </a>

                  </li>
                  <li class="nav-item">
                    <a  class="nav-link">
                      <input type="checkbox" [(ngModel)]="theCheckbox2"  data-md-icheck (change)="toggleVisibilityActive($event)"/>

                    </a>

                  </li>


                </ul>

              </div>
            </nav>

            <table class="table table-striped table-hover table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Redni broj magacinske Kartice</th>
                  <th scope="col">Artikal</th>

                  <th scope="col">Poslovna godina</th>
                  <th scope="col">Prosecna cena</th>
                  <th scope="col">Kolicina ulaza</th>
                  <th scope="col">Vrednost pocetnog stanja</th>
                  <th scope="col">Kolicina Izlaza</th>
                  <th scope="col">Vrednost Izlaza</th>
                  <th scope="col">Vrednost ulaza</th>
                  <th scope="col">Ukupna Kolicina</th>
                  <th scope="col">Ukupna vrednost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of filteredMagacinskeKartice | slice: (page-1) * pageSize : page * pageSize "
                  (click)="openMag(m)">
                  <th scope="row">{{m.idMagacinskeKartice}}</th>
                  <td>{{m.redniBrMagacinskeKa}}</td>
                  <td><strong>{{m.artikal.nazivArtikla}}</strong></td>

                  <td>{{m.poslovnaGodina?.godina }} / {{m.poslovnaGodina?.zakljucena}} </td>
                  <td>{{m.cena | number}} - <span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-success"> RSD </span> </td>
                  <td>{{m.kolicinaUlaza | number}} - <span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-secondary"> {{m.artikal.jedinicaMere.nazivJediniceMere}} </span> </td>
                  <td>{{m.vrednostPocetnogStanja | number}} - <span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-success"> RSD</span></td>
                  <td>{{m.kolicinaIzlaza | number}} - <span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-danger"> RSD</span></td>
                  <td>{{m.vrednostIzlaza | number}} -<span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-danger"> RSD</span></td>
                  <td>{{m.vrednostUlaza | number}} - <span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-success"> RSD</span></td>
                  <td>{{m.ukupnaKolicina | number}} - {{m.artikal.jedinicaMere.nazivJediniceMere}}</td>
                  <td>{{m.ukupnaVrednost | number}} -  <span style="padding: 0; padding-left: 2px; padding-right: 2px;" class="badge badge-success"> RSD</span></td>



                </tr>


              </tbody>
            </table>

            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
              [collectionSize]="filteredMagacinskeKartice?.length"></ngb-pagination>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink>Statistika</a>
          <ng-template ngbNavContent>
            <hr>

          </ng-template>
        </ng-container>
      </nav>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>


  </div>
</div>
