<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#" routerLink="/magacini">
    <i-bs name="bricks" class="i-bs" width="1rem" height="1rem">
    </i-bs> Magacini
  </a>
  <hr class="hr-sidenav">
  <a href="#" routerLink="/poslovni-partneri">
    <i-bs name="briefcase" class="i-bs" width="1rem" height="1rem">
    </i-bs> Poslovni partneri
  </a>
  <hr class="hr-sidenav">
  <a href="#" routerLink="/artikli">
    <i-bs name="collection" class="i-bs" width="1rem" height="1rem">
    </i-bs> Artikli
  </a>
  <hr class="hr-sidenav">
  <a href="#" routerLink="/magacinske-kartice">
    <i-bs name="file-earmark-bar-graph" class="i-bs" width="1rem" height="1rem">
    </i-bs> Izvestaji
  </a>
  <hr class="hr-sidenav">
  <a href="#" routerLink="/prijemnica">
    <i-bs name="file-earmark-plus-fill" class="i-bs" width="1rem" height="1rem">
    </i-bs> Prijemnica
  </a>
  <hr class="hr-sidenav">
  <a href="#" routerLink="/otpremnica">
    <i-bs name="file-earmark-plus" class="i-bs" width="1rem" height="1rem">
    </i-bs> Optremnica
  </a>
  <hr class="hr-sidenav" *ngIf="showAdminBoard">
  <a href="#" routerLink="/magacinske-kartice" *ngIf="showAdminBoard">
    <i-bs name="wrench" class="i-bs" width="1rem" height="1rem">
    </i-bs> Admin panel
  </a>

</div>


<div id="main">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="isLoggedIn">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" ><span *ngIf="!isSidebarOpen" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;
              Open</span>
              <span *ngIf="isSidebarOpen" style="font-size:30px;cursor:pointer" (click)="closeNav()">	<i-bs
                name="x-circle"

                width="1rem"
                height="1rem">
              </i-bs>
                Close</span></a>


        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#"><img src="assets/images/biglogo.png" alt="logo" class="logo" width="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ml-auto">
        <hr *ngIf="navbarOpen">
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
          <a class="nav-link" href="#" *ngIf="isLoggedIn" (click)="logout()">Log out</a>
        </li>

      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>


</div>
